<header class="cabecalho">
  <div class="cabecalho__container">

    <div class="cabecalho__pesquisa">
      <span class="material-symbols-outlined cabecalho__pesquisa-icone">search</span>
      <input
        class="cabecalho__pesquisa-campo"
        placeholder="Pesquisar"
        type="text"
        (input)="aoPesquisar($event)"
      />
    </div>

    <div class="cabecalho__direita">
      <button class="cabecalho__botao-icone" type="button" routerLink="/feed/estados">
        <span class="material-symbols-outlined">grid_view</span>
      </button>

      <button class="cabecalho__botao-icone cabecalho__botao-icone--com-badge" type="button" routerLink="/comentarios/moderacao">
        <span class="material-symbols-outlined">notifications</span>
        @if (temNotificacoes) {
          <span class="cabecalho__badge-notificacao"></span>
        }
      </button>

      <div class="cabecalho__utilizador">
        <a routerLink="/perfil" aria-label="Ver perfil">
          <img
            alt="Foto de perfil"
            class="cabecalho__avatar"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuC9fc3LgEcIoMRyzygrtvD6C_iV8JhkmmaTtxcLnjXD5lVR1x07sV9E-OOXCJagLASt999mjLIwu6YevVPZ9BueZGq2OkQ3cpJ6V-L79xUftQINDSPLvDya9eyFOEDMGzG-VLGz9cEhiU5wZ84QJHkmQKU_IsBm27u3btYmWHZeDYzt6VilY2lglbx7nO2C_uLNlR-r5pwZXfpMwboIrTTD_kU3x4KlgqWyjnp7lgqyiY6uE4qzxCtwRNTnYq5VF14sb6avLWA8Iy9s"
          />
        </a>
      </div>
    </div>

  </div>
</header>
