<nav class="navegacao-inferior">
  <a routerLink="/admin" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="ativo">
    <span class="material-symbols-outlined">dashboard</span>Painel
  </a>
  <a routerLink="/admin/utilizadores" routerLinkActive="ativo">
    <span class="material-symbols-outlined">group</span>Users
  </a>
  <a routerLink="/admin/denuncias" routerLinkActive="ativo">
    <span class="material-symbols-outlined">flag</span>Denúncias
  </a>
  <a routerLink="/feed" routerLinkActive="ativo">
    <span class="material-symbols-outlined">public</span>App
  </a>
</nav>
